<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estudo Dashboard</title>
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet"
            href="../plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    </head>
    <body>
        <div class="flex-dashboard">
            <sidebar>
                <div class="sidebar-title">
                    <img src="../images/vscodelogo.png" alt="">
                    <h2>DASHBOARD</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <i class="far fa-check-circle"></i>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i>
                            <a href="#">exemplo 1</a>
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i>
                            <a href="#">exemplo 2</a>
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i>
                            <a href="#">exemplo 3</a>
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i>
                            <a href="#">exemplo 4</a>
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i>
                            <a href="#">exemplo 5</a>
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i>
                            <a href="#">último exemplo</a>
                        </li>
                    </ul>

                </div>


            </sidebar>
            <main>
                <header>
                    <a href="#"> <i class="fas fa-home"></i>Dashboard</a>
                    <a href="#"> <i class="fas fa-sign-out-alt"></i>Logout</a>

                </header>
                <div class="main-content">
                    <p>main</p>

                </div>
            </main>
        </div>


        <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/fontawesome/js/all.min.js"></script>
    </body>
</html>

